body {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
}

/* css for header component */
.header {
    width: 100%;
    height: 60px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(200, 199, 199) solid;
    position: relative;
    z-index: 100;
}

.col-menu {
    height: 100%;
}

.col-menu .top-menu {
    height: 100%;
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.col-menu .top-menu li {
    padding: 20px 40px;
    border-right: 1px rgb(200, 199, 199) solid;
    font-size: 15px;
}

.col-menu .top-menu li:hover {
    cursor: pointer;
}

.col-country {
    height: 100%;
    position: relative;
    z-index: 10;
}

.country-select-component {
    width: 170px;
    position: relative;
    top: 10px;
    right: 40px;
    border-radius: 5px;
}

.icon-show-menu {
    display: none;
}

.country-select {
    width: 170px;
    height: 40px;
    display: flex;
    border-radius: 5px;
    transition: 0.1s all ease;
}

.country-select:hover {
    cursor: pointer;
    background-color: #efefef;
}

.country-select .country-option {
    width: 130px;
    height: 100%;
}

.country-select .icon-select {
    position: relative;
    top: 18px;
    left: 5px;
}

.list-options {
    background-color: #efefef;
    border-radius: 5px;
}

.list-options .country-option:hover {
    background-color: #9f9e9e;
    border-radius: 5px;
}

.hide {
    display: none;
} 

.country-option {
    width: 100%;
    height: 40px;
    display: flex;
    transition: 0.2s all ease;
}

.country-option .name-country-option {
    line-height: 40px;
    font-size: 13px;
    margin-left: 5px;
    color: rgb(70, 69, 69);
}

.country-option .flag-option {
    width: 40px;
    height: 25px;
    position: relative;
    top: 7.5px;
    margin-left: 10px;
}

/* responsive for header component */
@media screen and (min-width: 701px) {
    .col-menu {
        display: block !important;
    }
}

@media screen and (max-width: 700px) {
    .header {
        flex-direction: column-reverse;
        /* top: 60px; */
    }

    .col-menu {
        display: none;
        position: absolute;
        top: 60px;
        width: 100%;
    }

    .top-menu {
        flex-direction: column;
        width: 100%;
    }

    .top-menu li {
        text-align: center;
        background-color: #fff;
        border-bottom: 1px rgb(200, 199, 199) solid;
    }

    .top-menu li:hover {
        background-color: #efefef;
    }

    .col-country {
        display: flex;
        justify-content: space-between;
    }

    .icon-show-menu {
        display: flex;
        padding: 5px 20px;
        border: 1px #9f9e9e solid;
        height: 30px;
        line-height: 30px;
        border-radius: 5px;
        position: relative;
        top: 10px;
        left: 20px;
        transition: 0.2s all ease;
    }

    .icon-show-menu:hover{
        background-color: #efefef;
        cursor: pointer;
    }

    .icon-show-menu svg {
        position: relative;
        top: 7px;
    }

    .icon-show-menu span {
        margin-left: 10px;
    }

    .country-select-component {
        right: 20px;
    }
}

@media screen and (max-width: 400px) {
    .country-select-component {
        width: 90px;
    }

    .country-select {
        width: 90px;
        /* justify-content: center; */
    }

    .country-select {
        width: 90px;
    }

    .country-select .country-option {
        width: 60px;
    }

    /* #list-option-countries .country-option {
        justify-content: center;
    } */

    .country-option .name-country-option {
        display: none;
    }
}

/* css for option component */

.options {
    width: 100%;
    height: 90px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px rgb(200, 199, 199) solid;
    position: relative;
    z-index: 10;
}

.col-option-1 {
    align-items: center;
    display: flex;
}

.col-option-element {
    margin: 0 10px;
}

.title {
    font-size: 35px;
    margin-left: 30px;
}

.custom-select {
    width: 115px;
    height: 33px;
    padding: 0 5px;
    border: none;
    border-radius: 5px;
    position: relative;
}

.custom-select:hover{
    cursor: pointer;
}

.custom-select option {
    font-size: 17px;
}

.bg-gray {
    background-color: #efefef;
}

.bg-violet {
    background-color: rgb(230, 224, 255);
}

.col-option-2 {
    align-items: center;
    display: flex;
    position: relative;
    right: 40px;
}

.list-icon {
    display: flex;
}

.list-icon .item {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px rgb(200, 199, 199) solid;
    transition: 0.1 all ease;
    margin: 0 2.5px;
}

.list-icon .item svg {
    position: relative;
    top: 7px;
    left: 7px;
}

.list-icon .active {
    border: 1px blue solid;
}

.list-icon .active .node {
    background-color: blue;
    width: 7px;
    height: 7px;
    position: relative;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
}

.list-icon .item:hover {
    background-color: #efefef;
    cursor: pointer;
}

.left-line {
    border-left: 1px rgb(200, 199, 199) solid;
}

.option-responsive-container {
    display: flex;
}

.left-line .custom-select {
    margin-left: 10px;
    width: 100px;
}

.logo {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.logo:hover{
    cursor: pointer;
}

/* responsive options component */
@media screen and (max-width: 900px) {
    .options {
        flex-direction: column-reverse;
        height: 180px;
    }

    .col-option-1 {
        justify-content: center;
    }

    .col-option-2 {
        right: 0;
        justify-content: center;
        top: 30px;
    }
}

@media screen and (max-width: 550px) {
    .options {
        height: 250px
    }

    .col-option-1 {
        flex-direction: column;
    }

    .col-option-1 .col-option-element .title {
        margin-left: 0;
    }

    .col-option-1 .responsive-option-element {
        width: 200px;
        margin-bottom: 10px;
    }
}

@media screen and (max-width: 380px) {
    .options {
        height: 310px
    }

    .col-option-2 {
        flex-direction: column-reverse;
    }

    .option-responsive-container {
        position: relative;
        bottom: 20px;
    }

    .left-line {
        border: none;
    }

    .left-line .custom-select {
        width: 100px;
    }
}

/* css for main component */

.main {
    width: 90%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 0;
    display: flex
}

.col-categories {
    width: 70%;
}

.category-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    justify-content: space-around;
}

.category-container .category-item {
    width: 250px;
}

.category-item .category-image {
    width: 100%;
    border-radius: 5px;
}

.category-item .category-content {
    font-size: 11px;
    text-align: justify;
}

.btn {
    padding: 10px;
    border: none;
    border-radius: 5px;
}

.category-item .category-button {
    padding-left: 20px;
    padding-right: 20px;
    transition: 0.2s all ease;
}

.category-item .category-button:hover{
    background-color: #9f9e9e;
    cursor: pointer;
}

.clearfix {
    clear: both;
}

.col-learn {
    width: 30%;
}

.learn-item {
    width: 100%;
    margin: 30px auto;
    display: flex
}

.learn-image {
    width: 130px;
    border-radius: 5px;
}

.col-item-details {
    width: 120px;
    margin-left: 20px;
}

.learn-title {
    color: rgb(54, 54, 112);
    margin-top: 0;
    margin-bottom: 10px;
}

.col-item-details a {
    color: rgb(200, 199, 199);
}

.col-item-details a:hover{
    color: rgb(141, 139, 139);
}

.button-item-new {
    height: 25px;
    padding: 0 20px;
    font-size: 10px;
    color: green;
    background-color: rgb(200, 239, 200);
    line-height: 25px;
}

@media screen and (max-width: 900px) {
    .main {
        flex-direction: column-reverse;
    }

    .col-categories {
        width: 100%;
    }

    .col-learn {
       width: 100%;
    }

    .learn-container {
        width: 100%;
        display: flex;
        overflow-x: scroll;
    }

    .learn-container .learn-item {
        margin-right: 20px;
    }
}